Ejercicios/dtd_exterma/ejercicio-ii-2c.dtd

<!-- Ejercicio ii 2c-->
<!ELEMENT fichero (ficha+)>
<!ELEMENT ficha (nombre, apellido, direccion*, dui?, ciudad)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT dui (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>